<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
</head>

<body>
    <h1>QR Code Generator</h1>
    <form action="/qrcode" method="POST">
        <label for="value">Enter Value To Convert</label><br><br>
        <input type="text" name="value" name="value"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>